-e git://github.com/closeio/mongoengine.git#egg=mongoengine-dev
-e git://github.com/closeio/flask-mongoengine.git#egg=flask-mongoengine
mimerender
python-dateutil
sphinx
cleancat>=0.3
Flask>=0.9
Flask-Views
pymongo<3.0
flake8
