-e git://github.com/saurabh1e/mongoengine.git#egg=mongoengine
-e git://github.com/closeio/flask-mongoengine.git#egg=flask-mongoengine
-e git://github.com/saurabh1e/cleancat.git#egg=cleancat
mimerender
python-dateutil
sphinx
Flask
Flask-Views
Flask-WTF==0.8.4
pymongo<3.0
flake8
